<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="CamundaProdUrl" value="http://localhost:8080/engine-rest"/>
    <add key ="CamundaTestUrl" value="http://localhost:8080/engine-rest"/>
    <add key ="BpmnProdUrl" value="http://localhost:12345"/>
    <add key ="BpmnTestUrl" value="http://localhost:12345"/>
    <add key ="TaskProjectionProdUrl" value="http://localhost:12345"/>
    <add key ="TaskProjectionTestUrl" value="http://localhost:12345"/>
    <add key ="ProcessVersion" value="5"/>
    <add key ="ExecutorId" value=""/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>